<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|PT+Sans&display=swap&subset=cyrillic" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'fin/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %} Optimal Portfolio {% endblock %}</title>
    {% block style %}{% endblock %}

</head>
<body>

    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="header__logo" href="#" data-scroll="#intro">
                    <img src="{% static 'fin/images/logo.svg' %}" alt="Portfolio">
                </a>
                <nav class="nav">
                    {% if user.is_anonymous %}
                        <a class="nav__link" href="{% url 'finauth:register' %}">Sign In</a>
                        <a class="nav__link" href="{% url 'finauth:login' %}">Log In</a>
                    {% else %}
                        <a class="nav__link" href="{% url 'finauth:logout' %}">Log Out</a>
                        <a class="nav__link" href="{% url 'fin:index' %}">Portfolios</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>


    <!-- Intro -->
    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <div class="intro__text">
                    <h1 class="intro__title">
                        <span class="intro__title-amp"></span>
                        Optimal<br>Portfolio
                    </h1>
                    {% block intro %}
                    <div class="intro__countries">This site helps you to create profitable portfolio </div>
{#                    <button class="btn  btn--block  btn--orange" type="submit">#}
{#                        <span>Create Portfolio</span>#}
{#                    </button>#}
                    {% endblock %}
                </div>

            </div><!-- /.intro__inner -->

        </div><!-- /.container -->
    </div><!-- /.intro -->

    <div class="main">

        <div class="container">
            {% block main %}{% endblock %}
        </div><!-- /.container -->
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <a class="header__logo  header__logo--black" href="#" data-scroll="#intro">
                <span class="header__logo-text">Optimal Portfolio</span>
            </a>

            <nav class="footer__nav">
                <a href="#">Terms &amp; Contidions</a>
                <a href="#">Privacy Policy</a>
            </nav>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>