{% extends 'fin/base.html' %}

{% block main %}
{% if not user.is_anonymous %}
    {% if user %}
    <ul>
    {% for portfolio in user.portfolio_set.all %}
        <li><a href="{% url 'fin:detail_portfolio' portfolio.id %}">{{ portfolio.name_portfolio }}</a></li>
        <a href="{% url 'fin:delete_portfolio' portfolio.id %}">Delete portfolio</a>
    {% endfor %}
    </ul>
{% else %}
    <p>No portfolios are available.</p>
    {% endif %}
    <p><a href="{% url 'fin:create_portfolio' %}">Add portfolio</a> </p>
{% endif %}
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <script src="{% static 'fin/js/chart.js' %}"></script>
{% endblock %}
