{% extends 'fin/base.html' %}
{% block main %}
 <h2>Portfolio</h2>
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="update">#}
{#    </form>#}
    {% if object.stock_set.count > 0  %}
        <ul>
        {% for stock in object.stock_set.all %}
            <li> Name: {{ stock.name }} </li>
            <li> Ticker: {{ stock.ticker }}</li>
            <li> Currency: {{ stock.currency }}</li>
            <a href="{% url 'fin:remove_stock' object.id stock.id %}">Remove stock</a>
        {% endfor %}
        </ul>
    {% else %}
        <p>No stocks are available.</p>
    {% endif %}
    <p>Edit portfolio</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>

    <form action="{% url 'fin:add_stock' object.id %}" method="post">
        {% csrf_token %}
        <label for="add_stock">Your name: </label>
        <input id="add_stock" type="text" name="add_stock" class="form-control" placeholder="Stock" list="stocks">
        <datalist id="stocks">
            {% for stock in stocks %}
                <option value={{ stock.name }}></option>
            {% endfor %}
        </datalist>
        <input type="submit" value="Добавить">
    </form>
{% endblock %}